{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1 class="font-bold text-2xl text-primary capitalize text-left w-full">our blog posts</h1>

<section class="flex flex-col justify-center space-y-6 items-center lg:w-10/12">

    {% for blog in blog %}
    <div class="flex flex-col justify-center items-center w-full">
        <div class="h-80 file:lg:h-[28rem] w-full bg-cover bg-no-repeat bg-center"
            style="background-image: url({{ blog.coverImage.url }});">
        </div>
        <div class="flex flex-col space-y-2 py-6">
            <h1 class="font-bold text-xl">{{ blog.title }}</h1>
            <p class="text-[#555] font-semibold text-lg ">{{ blog.description }}</p>
            <div class="flex justify-between items-center">
                <a href="{% url 'main:blogPost' blog.title %}"
                    class="border-2 border-[#333] py-2 px-4 capitalize font-semibold hover:border-[#09b11f] transition ease-in-out delay-150 lg:hover:-translate-y-1 hover:shadow-lg">Read
                    more <i class="ml-2 fas fa-arrow-right"></i>
                </a>
                <p class="font-medium text-lg">16, August 2022</p>
            </div>
        </div>
    </div>
    {% endfor %}


</section>
{% endblock %}