{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 class="text-4xl text-primary uppercase ">Join</h1>

<section class="flex flex-col lg:grid lg:grid-cols-3 justify-center lg:items-start justify-items-center gap-10 w-full ">
    <div class="space-y-10 flex flex-col justify-start items-center">
        <img src="{% static 'img/group417.png' %}" alt="">
        <p class="text-justify leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem rem in sit reprehenderit, corporis voluptatem pariatur mollitia, soluta magnam
            voluptates hic nisi aspernatur, voluptas quas maxime nihil repellat quam ducimus!
            Minus, ad facere voluptate perspiciatis iure totam sequi inventore nihil velit accusamus sed,
            repudiandae asperiores itaque delectus officia exercitationem enim nesciunt, eos vero quam ullam.
            Magni illo obcaecati consequatur autem!
            Repellat ipsam laboriosam, doloremque molestiae, exercitationem corporis minima aperiam aut eveniet
            est quas libero aspernatur id adipisci aliquam voluptate vitae quae quis alias suscipit. Architecto
            molestiae suscipit sequi ducimus nostrum!
            Veritatis, accusamus? Itaque iusto voluptatum tempora explicabo sapiente optio animi magni rem
            aspernatur nemo corporis recusandae tempore, fuga quaerat? Nesciunt quaerat ipsum aperiam eius ut
            sit officia rerum, adipisci repellendus?</p>
    </div>
    <div class="col-span-2">
        <form action="" class="grid lg:grid-cols-2 gap-10">
            <div class="space-y-8">
                <input type="text" name="" id="" placeholder="First Name *"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <input type="text" name="" id="" placeholder="Last Name *"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <input type="email" name="" id="" placeholder="Email *"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <input type="tel" name="" id="" placeholder="Phone*"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <input type="text" name="" id="" placeholder="Location *"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <input type="date" name="" id="" placeholder="Date Of Birth *"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <input type="url" name="" id="" placeholder="Instagram *"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                <textarea name="" id="" cols="30" rows="10" placeholder="Message"
                    class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none"></textarea>
            </div>

            <div class="flex flex-col space-y-8">
                <div class="flex items-center justify-between w-full h-1o5">
                    <input type="radio" name="gender" id="" checked value="option1">
                    <label for="female">Female</label>
                    <input type="radio" name="gender" id="" value="option2">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="" class="option3">
                    <label for="nonbinary">Nonbinary</label>
                </div>
                <select name="height" id="height"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Height *</option>
                    <option value="130cm">130cm</option>
                    <option value="140cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <select name="waist" id="waist"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Waist *</option>
                    <option value="130cm">130cm</option>
                    <option value="150cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <select name="bust" id="bust"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Bust *</option>
                    <option value="65cm">65cm</option>
                    <option value="70cm">70cm</option>
                    <option value="75cm">75cm</option>
                    <option value="80cm">80cm</option>
                    <option value="85cm">85cm</option>
                    <option value="90cm">90cm</option>
                </select>
                <select name="hips" id="hips"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Hips *</option>
                    <option value="130cm">130cm</option>
                    <option value="140cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <select name="dress" id="dress"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Dress Size *</option>
                    <option value="130cm">130cm</option>
                    <option value="140cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <select name="shoe" id="shoe"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Shoe Size *</option>
                    <option value="130cm">130cm</option>
                    <option value="140cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <select name="hair" id="hair"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Hair Colour *</option>
                    <option value="130cm">130cm</option>
                    <option value="140cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <select name="eye" id="eye"
                    class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                    <option value="">Eye Colour *</option>
                    <option value="130cm">130cm</option>
                    <option value="140cm">150cm</option>
                    <option value="160cm">160cm</option>
                    <option value="170cm">170cm</option>
                    <option value="180cm">180cm</option>
                    <option value="190cm">190cm</option>
                    <option value="200cm">200cm</option>
                </select>
                <div class="space-y-8 w-full">
                    <div class="w-full">
                        <label for="image1" class="text-gray-500 text-sm font-semibold">Image 1: </label>
                        <input type="file" name="image1" id=""
                            class="block w-full text-sm  text-gray-500 border border-solid border-gray-600 file:py-3 file:mr-2 file:px-6 file:border-none file:text-white file:text-sm file:font-semibold file:bg-[#222] rounded-none file:rounded-none">
                    </div>
                    <div class="">
                        <label for="image2" class="text-gray-500 text-sm font-semibold">Image 2: </label>
                        <input type="file" name="image2" id=""
                            class="block w-full text-sm  text-gray-500 border border-solid border-gray-600 file:py-3 file:mr-2 file:px-6 file:border-none file:text-white file:text-sm file:font-semibold file:bg-[#222] rounded-none file:rounded-none">
                    </div>
                    <div class="">
                        <label for="image3" class="text-gray-500 text-sm font-semibold">Image 3: </label>
                        <input type="file" name="image3" id=""
                            class="block w-full text-sm  text-gray-500 border border-solid border-gray-600 file:py-3 file:mr-2 file:px-6 file:border-none file:text-white file:text-sm file:font-semibold file:bg-[#222] rounded-none file:rounded-none">
                    </div>
                </div>
                <div class="w-full flex justify-end items-end">
                    <button type="submit" class="bg-[#222] text-white w-full lg:w-32 py-2">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}