{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1 class="font-bold text-2xl text-primary capitalize text-left w-full">our blog posts</h1>

<section class="flex flex-col justify-center space-y-6 items-center lg:w-10/12">
    <div class="flex flex-col justify-center items-center w-full">
        <div class="h-80 file:lg:h-[28rem] w-full bg-cover bg-no-repeat bg-center"
            style="background-image: url({% static 'img/item3.jpg' %});">
        </div>
        <div class="flex flex-col space-y-2 py-6">
            <h1 class="font-bold text-xl">Homegrown Podcast, A podcast for Uni Students by Uni Students</h1>
            <p class="text-[#555] font-semibold text-lg ">Contrary to popular belief, Lorem ipsum dolor sit amet
                consectetur
                adipisicing
                elit.
                Corporis
                minus voluptas deserunt in ipsa. Cupiditate, tempora dolorem accusamus recusandae laudantium cum
                corporis et dolor expedita possimus illum voluptatum ducimus inventore...
            </p>
            <div class="flex justify-between items-center">
                <a href="blogPost.html"
                    class="border-2 border-[#333] py-2 px-4 capitalize font-semibold hover:border-[#09b11f] transition ease-in-out delay-150 lg:hover:-translate-y-1 hover:shadow-lg">Read
                    more <i class="ml-2 fas fa-arrow-right"></i>
                </a>
                <p class="font-medium text-lg">16, August 2022</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center w-full">
        <div class="h-80 file:lg:h-[28rem] w-full bg-cover bg-no-repeat bg-center"
            style="background-image: url({% static 'img/item2.jpg' %});">
        </div>
        <div class="flex flex-col space-y-2 py-6">
            <h1 class="font-bold text-xl">Homegrown Podcast, A podcast for Uni Students by Uni Students</h1>
            <p class="text-[#555] font-semibold text-lg ">Contrary to popular belief, Lorem ipsum dolor sit amet
                consectetur
                adipisicing
                elit.
                Corporis
                minus voluptas deserunt in ipsa. Cupiditate, tempora dolorem accusamus recusandae laudantium cum
                corporis et dolor expedita possimus illum voluptatum ducimus inventore...
            </p>
            <div class="flex justify-between items-center">
                <a href="blogPost.html"
                    class="border-2 border-[#333] py-2 px-4 capitalize font-semibold hover:border-[#09b11f] transition ease-in-out delay-150 lg:hover:-translate-y-1 hover:shadow-lg">Read
                    more <i class="ml-2 fas fa-arrow-right"></i>
                </a>
                <p class="font-medium text-lg">16, August 2022</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center w-full">
        <div class="h-80 file:lg:h-[28rem] w-full bg-cover bg-no-repeat bg-center"
            style="background-image: url({% static 'img/item.jpg' %});">
        </div>
        <div class="flex flex-col space-y-2 py-6">
            <h1 class="font-bold text-xl">Homegrown Podcast, A podcast for Uni Students by Uni Students</h1>
            <p class="text-[#555] font-semibold text-lg ">Contrary to popular belief, Lorem ipsum dolor sit amet
                consectetur
                adipisicing
                elit.
                Corporis
                minus voluptas deserunt in ipsa. Cupiditate, tempora dolorem accusamus recusandae laudantium cum
                corporis et dolor expedita possimus illum voluptatum ducimus inventore...
            </p>
            <div class="flex justify-between items-center">
                <a href="blogPost.html"
                    class="border-2 border-[#333] py-2 px-4 capitalize font-semibold hover:border-[#09b11f] transition ease-in-out delay-150 lg:hover:-translate-y-1 hover:shadow-lg">Read
                    more <i class="ml-2 fas fa-arrow-right"></i>
                </a>
                <p class="font-medium text-lg">16, August 2022</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}