{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="flex flex-col justify-center items-center w-full gap-8">
    <div class="w-full">
        <h1 class="text-3xl text-[#444] font-bold">{{ blog.title}}</h1>
    </div>
    <div class="flex justify-center items-center w-full ">
        <img src="{{ blog.coverImage.url }}" alt="" class="lg:h-[70vh] ">
    </div>

    <div class="flex flex-col justify-center items-center space-y-4 lg:w-2/3">
        <p class="text-center font-bold">
            {{ blog.description }}
        </p>

        <div class="text-justify py-4 space-y-6 text-gray-600">
            <p class="">
                {{ blog.firtsParagraph }}
            </p>
            <p class="">
                {{ blog.secondParagraph }}
            </p>
        </div>
    </div>

    <!-- ad section -->
    <div class="flex flex-col justify-center items-center w-full ">
        <div class="w-full aspect-w-16 aspect-h-9">
            <iframe src="https://www.youtube.com/embed/zanP2EJNEF4" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <p class="font-semibold text-gray-600 my-2">YouTube: New Rockstars</p>

        <p class="py-2 my-4 bg-gray-300 w-2/3 lg:w-60 text-center text-gray-600">Sponsored</p>
    </div>

    <div class="flex flex-col justify-center items-center space-y-4 lg:w-2/3">
        <h1 class="text-primary font-bold text-left text-xl w-full">Hair Treatment</h1>
        <p class="py-4 space-y-6 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Illum
            accusamus placeat labore soluta unde veniam deserunt! Nemo minima, quibusdam quas, reiciendis,
            accusamus impedit laborum eligendi repellat consequatur culpa voluptatibus earum!
            A asperiores excepturi consectetur harum molestias esse repudiandae magnam ut illo, nisi
            deleniti
            commodi dignissimos laudantium cumque? Atque delectus, cum laborum porro dolores itaque eius
            corrupti repudiandae omnis voluptatum non.
            Incidunt vero illo quam illum, molestias corrupti ducimus reiciendis ut totam atque quas
            voluptate,
            eaque placeat consequatur cum accusamus ipsum obcaecati ad esse corporis facere quod commodi?
            Molestiae, voluptas perspiciatis?</p>
    </div>

    <div class="grid lg:grid-cols-3 gap-10 w-full">
        <div>
            <img src="{{ blog.image1.url }}" alt="" class="shadow-2xl rounded-md">
        </div>
        <div class="lg:col-span-2">
            <h1 class="text-primary font-bold text-xl">Hair Treatment</h1>
            <p class="py-4 space-y-6 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Illum accusamus placeat labore soluta unde veniam deserunt! Nemo minima, quibusdam quas,
                reiciendis, accusamus impedit laborum eligendi repellat consequatur culpa voluptatibus earum!
                A asperiores excepturi consectetur harum molestias esse repudiandae magnam ut illo, nisi
                deleniti commodi dignissimos laudantium cumque? Atque delectus, cum laborum porro dolores itaque
                eius corrupti repudiandae omnis voluptatum non.
                Incidunt vero illo quam illum, molestias corrupti ducimus reiciendis ut totam atque quas
                voluptate, eaque placeat consequatur cum accusamus ipsum obcaecati ad esse corporis facere quod
                commodi? Molestiae, voluptas perspiciatis?</p>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center space-y-4 lg:w-2/3">
        <div class="flex flex-col">
            <h1 class="text-primary font-bold text-xl">Hair Treatment</h1>
            <p class="py-4 space-y-6 text-gray-600">Lorem
                {{ blog.thirdParagraph }}
            </p>
        </div>
        <div class="flex">
            <div class="bg-primary w-4 lg:w-2"></div>
            <div class="py-2">
                <p class="bg-gray-300 px-10 py-5 text-primary font-semibold">
                    {{ blog.conclusion }}
                </p>

            </div>
        </div>


    </div>

    <!-- ad section -->
    <div class="flex flex-col justify-center items-center gap-4 lg:w-2/3">
        <p class="py-2 my-2 bg-gray-300 w-2/3 lg:w-60 text-center text-gray-600">Sponsored</p>

        <p class="after:text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Illum accusamus placeat labore soluta unde veniam deserunt! Nemo minima, quibusdam quas,
            reiciendis, accusamus impedit laborum eligendi repellat consequatur culpa voluptatibus earum!
        </p>
    </div>

</section>

<section class="flex flex-col justify-center items-center w-full gap-8 my-8">
    <div class="flex flex-col justify-center items-center gap-4">
        <h1 class="text-3xl lg:text-5xl tracking-widest">Latest <span class="text-primary">Blog</span></h1>
        <div class="space-x-3">
            <span><i class="fas fa-circle text-primary text-sm"></i></span>
            <span><i class="fas fa-circle text-gray-300 text-xs"></i></span>
            <span><i class="fas fa-circle text-gray-300 text-xs"></i></span>
        </div>
        <p>New Blog Updates</p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 justify-items-center w-full">

        <div class="flex flex-col justify-center items-center shadow-xl bg-[#f2f2f2] rounded-lg">
            <img src="{% static 'img/item2.jpg' %}" alt="" class="rounded-t-lg">
            <div class="px-8 py-4">
                <div class="flex flex-col my-2">
                    <h1 class="text-2xl text-primary font-bold ">Homegrown Podcast</h1>
                    <div class="flex gap-6">
                        <p class="text-[#666]"><i class="fas fa-clock"></i> 5 min read</p>
                        <p class="text-[#666]"><i class="fas fa-calendar-alt "></i> 07 January 2022</p>
                    </div>

                </div>

                <h2 class="font-bold leading-6 py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio!</h2>
                <p class="leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate
                    rerum
                    aspernatur
                    sapiente quasi reprehenderit molestias deleniti non</p>
                <div class="mt-4 mb-6 w-full flex items-center justify-between">
                    <a href=""
                        class="border-2 border-[#09b11f] py-2 px-6 transition delay-100 ease-in-out duration-100 hover:-translate-y-1 hover:border-[#333]">Read
                        more
                    </a>

                </div>
            </div>
        </div>

        <div class="hidden lg:flex flex-col justify-center items-center shadow-xl bg-[#f2f2f2] rounded-lg">
            <img src="{% static 'img/item2.jpg' %}" alt="" class="rounded-t-lg">
            <div class="px-8 py-4">
                <div class="flex flex-col my-2">
                    <h1 class="text-2xl text-primary font-bold ">Homegrown Podcast</h1>
                    <div class="flex gap-6">
                        <p class="text-[#666]"><i class="fas fa-clock"></i> 5 min read</p>
                        <p class="text-[#666]"><i class="fas fa-calendar-alt "></i> 07 January 2022</p>
                    </div>

                </div>

                <h2 class="font-bold leading-6 py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio!</h2>
                <p class="leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate
                    rerum
                    aspernatur
                    sapiente quasi reprehenderit molestias deleniti non</p>
                <div class="mt-4 mb-6 w-full flex items-center justify-between">
                    <a href=""
                        class="border-2 border-[#09b11f] py-2 px-6 transition delay-100 ease-in-out duration-100 hover:-translate-y-1 hover:border-[#333]">Read
                        more
                    </a>

                </div>
            </div>
        </div>

        <div class="hidden lg:flex flex-col justify-center items-center shadow-xl bg-[#f2f2f2] rounded-lg">
            <img src="{% static 'img/item2.jpg' %}" alt="" class="rounded-t-lg">
            <div class="px-8 py-4">
                <div class="flex flex-col my-2">
                    <h1 class="text-2xl text-primary font-bold ">Homegrown Podcast</h1>
                    <div class="flex gap-6">
                        <p class="text-[#666]"><i class="fas fa-clock"></i> 5 min read</p>
                        <p class="text-[#666]"><i class="fas fa-calendar-alt "></i> 07 January 2022</p>
                    </div>

                </div>

                <h2 class="font-bold leading-6 py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio!</h2>
                <p class="leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate
                    rerum
                    aspernatur
                    sapiente quasi reprehenderit molestias deleniti non</p>
                <div class="mt-4 mb-6 w-full flex items-center justify-between">
                    <a href=""
                        class="border-2 border-[#09b11f] py-2 px-6 transition delay-100 ease-in-out duration-100 hover:-translate-y-1 hover:border-[#333]">Read
                        more
                    </a>

                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}