{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="flex flex-col lg:flex-row gap-y-4 gap-x-16">
    <div class="flex flex-col space-y-6 col-span-2 lg:w-9/12">
        <img src="{% static 'img/group465.png' %}" alt="">
        <div class="grid lg:grid-cols-3 w-full gap-4">
            <div class="w-full rounded border-2 border-[#dfdfdf] p-6">
                <h1 class="text-lg font-semibold">Admin</h1>
                <p class="text-[#888] text-lg">admin@homegrown.com</p>
            </div>
            <div class="w-full rounded border-2 border-[#dfdfdf] p-6">
                <h1 class="text-lg font-semibold">Social Media</h1>
                <p class="text-[#888] text-lg">socials@homegrown.com</p>
            </div>
            <div class="w-full rounded border-2 border-[#dfdfdf] p-6">
                <h1 class="text-lg font-semibold">Content creators</h1>
                <p class="text-[#888] text-lg">info@homegrown.com</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col space-y-6">
        <h1 class="text-2xl font-bold">Get in touch</h1>
        <p class="text-lg text-[#666]">It is a long established fact that a reader will be distracted by the
            readable</p>
        <form action="" class="flex flex-col space-y-4">
            <div class="flex flex-col lg:flex-row w-full gap-4">
                <div class="flex flex-col w-full">
                    <label for="firstname" class="font-semibold">First Name</label>
                    <input class="bg-transparent border border-[#afafaf] rounded px-4 py-2" type="text" name="firstname"
                        id="" placeholder="eg. Tony">
                </div>
                <div class="flex flex-col w-full">
                    <label for="lastname" class="font-semibold">Last Name</label>
                    <input class="bg-transparent border border-[#afafaf] rounded px-4 py-2" type="text" name="lastname"
                        id="" placeholder="eg. Stark">
                </div>
            </div>

            <div class="flex flex-col">
                <label for="email" class="font-semibold">Email Address</label>
                <input class="bg-transparent border border-[#afafaf] rounded px-4 py-2" type="email" name="email" id=""
                    placeholder="eg. tonystark@gmail.com">
            </div>


            <div class="flex flex-col">
                <label for="message" class="font-semibold">Message</label>
                <textarea class="bg-transparent border border-[#afafaf] rounded px-4 py-2" name="message" id=""
                    cols="30" rows="10"></textarea>
            </div>

            <button class="w-full font-bold bg-[#222] text-white py-4 rounded">Submit</button>
        </form>
    </div>
</section>
{% endblock %}