<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/main.css" />

    <style>
        body {
            font-family: "Lato", sans-serif;
        }
    </style>
    <title>Homegrown Talent</title>
</head>

<body class="flex flex-col justify-center items-center w-full space-y-10 mt-14 bg-[#efefef]">
    <header class="flex top-0 fixed backdrop-filter backdrop-blur justify-center items-center w-full shadow-md">
        <nav class="flex  flex-col justify-between items-center lg:flex-row w-full lg:w-11/12 py-2">
            <!-- small to medium screens -->
            <div class="flex justify-center lg:justify-start w-10/12">
                <div class="flex justify-center items-center">
                    <a href="" class="flex justify-center items-center space-x-2">
                        <img src="img/logo.png" alt="" width="50" />
                        <p class="hidden lg:block text-primary text-xl font-semibold">
                            Homegrown Talent
                        </p>
                    </a>
                </div>
                <div id="bars" class="flex lg:hidden justify-end w-full py-3">
                    <div class="space-y-1">
                        <div class="rounded-sm bg-green-600 h-1 w-4 ml-3"></div>
                        <div class="rounded-sm bg-green-600 h-1 w-7"></div>
                        <div class="rounded-sm bg-green-600 h-1 w-4 ml-[1px]"></div>
                    </div>
                </div>
            </div>

            <div id="nav"
                class="hidden flex-col lg:flex lg:flex-row w-full justify-end items-center text-primary 0 align-middle lg:space-x-10 font-semibold mt-4 lg:mt-0 ">
                <a href="index.html" class="py-2 text-center lg:p-0 border-b w-full lg:w-auto lg:border-0">
                    Home
                </a>
                <a href="about.html" class="py-2 text-center lg:p-0 border-b w-full lg:w-auto lg:border-0">
                    About Us
                </a>
                <a href="join.html" class="py-2 text-center lg:p-0 border-b w-full lg:w-auto lg:border-0">
                    Join Us
                </a>
                <a href="talent.html" class="py-2 text-center lg:p-0 border-b w-full lg:w-auto lg:border-0">
                    Talent
                </a>
                <a href="blog.html" to="/Blog" class="py-2 text-center lg:p-0 border-b w-full lg:w-auto lg:border-0">
                    Blog
                </a>
                <a href="contact.html" class="py-3 text-center lg:p-0 w-full lg:w-auto lg:border-0">
                    Contact Us
                </a>
            </div>
        </nav>
    </header>

    <main class="flex flex-col justify-center items-center space-y-10 lg:w-11/12 w-10/12">
        <h1 class="text-4xl text-primary uppercase ">Join</h1>

        <section
            class="flex flex-col lg:grid lg:grid-cols-3 justify-center lg:items-start justify-items-center gap-10 w-full ">
            <div class="space-y-10 flex flex-col justify-start items-center">
                <img src="./img/group417.png" alt="">
                <p class="text-justify leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem rem in sit reprehenderit, corporis voluptatem pariatur mollitia, soluta magnam
                    voluptates hic nisi aspernatur, voluptas quas maxime nihil repellat quam ducimus!
                    Minus, ad facere voluptate perspiciatis iure totam sequi inventore nihil velit accusamus sed,
                    repudiandae asperiores itaque delectus officia exercitationem enim nesciunt, eos vero quam ullam.
                    Magni illo obcaecati consequatur autem!
                    Repellat ipsam laboriosam, doloremque molestiae, exercitationem corporis minima aperiam aut eveniet
                    est quas libero aspernatur id adipisci aliquam voluptate vitae quae quis alias suscipit. Architecto
                    molestiae suscipit sequi ducimus nostrum!
                    Veritatis, accusamus? Itaque iusto voluptatum tempora explicabo sapiente optio animi magni rem
                    aspernatur nemo corporis recusandae tempore, fuga quaerat? Nesciunt quaerat ipsum aperiam eius ut
                    sit officia rerum, adipisci repellendus?</p>
            </div>
            <div class="col-span-2">
                <form action="" class="grid lg:grid-cols-2 gap-10">
                    <div class="space-y-8">
                        <input type="text" name="" id="" placeholder="First Name *"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <input type="text" name="" id="" placeholder="Last Name *"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <input type="email" name="" id="" placeholder="Email *"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <input type="tel" name="" id="" placeholder="Phone*"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <input type="text" name="" id="" placeholder="Location *"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <input type="text" name="" id="" placeholder="Date Of Birth *"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <input type="text" name="" id="" placeholder="Instagram *"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Message"
                            class="border border-solid border-gray-600 px-2 py-2 w-full bg-transparent rounded-none"></textarea>
                    </div>

                    <div class="flex flex-col space-y-8">
                        <div class="flex items-center justify-between w-full h-1o5">
                            <input type="radio" name="gender" id="" checked value="option1">
                            <label for="female">Female</label>
                            <input type="radio" name="gender" id="" value="option2">
                            <label for="male">Male</label>
                            <input type="radio" name="gender" id="" class="option3">
                            <label for="nonbinary">Nonbinary</label>
                        </div>
                        <select name="height" id="height"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Height *</option>
                            <option value="130cm">130cm</option>
                            <option value="140cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <select name="waist" id="waist"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Waist *</option>
                            <option value="130cm">130cm</option>
                            <option value="150cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <select name="bust" id="bust"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Bust *</option>
                            <option value="65cm">65cm</option>
                            <option value="70cm">70cm</option>
                            <option value="75cm">75cm</option>
                            <option value="80cm">80cm</option>
                            <option value="85cm">85cm</option>
                            <option value="90cm">90cm</option>
                        </select>
                        <select name="hips" id="hips"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Hips *</option>
                            <option value="130cm">130cm</option>
                            <option value="140cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <select name="dress" id="dress"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Dress Size *</option>
                            <option value="130cm">130cm</option>
                            <option value="140cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <select name="shoe" id="shoe"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Shoe Size *</option>
                            <option value="130cm">130cm</option>
                            <option value="140cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <select name="hair" id="hair"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Hair Colour *</option>
                            <option value="130cm">130cm</option>
                            <option value="140cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <select name="eye" id="eye"
                            class="border bg-transparent border-solid border-gray-600 px-2 py-2 appearance-none w-full text-gray-400 rounded-none">
                            <option value="">Eye Colour *</option>
                            <option value="130cm">130cm</option>
                            <option value="140cm">150cm</option>
                            <option value="160cm">160cm</option>
                            <option value="170cm">170cm</option>
                            <option value="180cm">180cm</option>
                            <option value="190cm">190cm</option>
                            <option value="200cm">200cm</option>
                        </select>
                        <div class="space-y-8 w-full">
                            <div class="w-full">
                                <label for="image1" class="text-gray-500 text-sm font-semibold">Image 1: </label>
                                <input type="file" name="image1" id=""
                                    class="block w-full text-sm  text-gray-500 border border-solid border-gray-600 file:py-3 file:mr-2 file:px-6 file:border-none file:text-white file:text-sm file:font-semibold file:bg-[#222] rounded-none file:rounded-none">
                            </div>
                            <div class="">
                                <label for="image2" class="text-gray-500 text-sm font-semibold">Image 2: </label>
                                <input type="file" name="image2" id=""
                                    class="block w-full text-sm  text-gray-500 border border-solid border-gray-600 file:py-3 file:mr-2 file:px-6 file:border-none file:text-white file:text-sm file:font-semibold file:bg-[#222] rounded-none file:rounded-none">
                            </div>
                            <div class="">
                                <label for="image3" class="text-gray-500 text-sm font-semibold">Image 3: </label>
                                <input type="file" name="image3" id=""
                                    class="block w-full text-sm  text-gray-500 border border-solid border-gray-600 file:py-3 file:mr-2 file:px-6 file:border-none file:text-white file:text-sm file:font-semibold file:bg-[#222] rounded-none file:rounded-none">
                            </div>
                        </div>
                        <div class="w-full flex justify-end items-end">
                            <button type="submit" class="bg-[#222] text-white w-full lg:w-32 py-2">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="flex flex-col justify-center items-center mt-10 py-5">

        <section class="flex flex-row text-primary justify-center items-end space-x-5 text-xl mb-4">
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://open.spotify.com/show/4SEm0vVz5pVtJgsJSJaS48?si=859f5829263447df">
                <i class="fab fa-spotify"></i>
            </a>
        </section>

        <p class="text-gray-500">&copy; copyright 2022 Powered by <a href="" class="font-semibold">Mahala</a></p>

    </footer>

    <script src="main.js"></script>
</body>

</html>