{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Talent Section -->
<section class="flex flex-col justify-center items-center w-full">
	<h1 class="text-4xl text-primary uppercase my-5">Talent</h1>
	<div class="grid md:grid-cols-2 justify-items-center lg:grid-cols-3 gap-4 w-full mb-8">

		<div class="w-full">
			<a href="model.html">
				<div class="h-model sm:h-model md:h-model lg:h-model bg-no-repeat bg-cover bg-center flex flex-col justify-end hover:transition bg-gray-500 lg:hover:bg-gray-500 bg-blend-multiply"
					style="background-image: url({% static 'img/talent1.jpg' %})">

					<div class="flex flex-col py-8 transition ease-in-out delay-150">
						<h1 class="text-white font-semibold text-2xl px-6">
							Model Name
						</h1>
						<div
							class="flex flex-col px-6 pt-4 text-white font-semibold transition ease-in-out delay-150 tracking-wider">
							<p>
								<span class="text-primary">Height: </span>
								200cm
							</p>
							<p>
								<span class="text-primary">Shoe: </span>
								8
							</p>
							<p>
								<span class="text-primary">Waist: </span>
								32
							</p>
							<p>
								<span class="text-primary">Eye: </span>
								Brown
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="w-full">
			<a href="model.html">
				<div class="h-model sm:h-model md:h-model lg:h-model bg-no-repeat bg-cover bg-center flex items-end hover:transition bg-gray-500 lg:hover:bg-gray-500 bg-blend-multiply"
					style="background-image: url({% static 'img/person.jpg' %})">
					<div class="flex flex-col py-8 transition ease-in-out delay-150">
						<h1 class="text-white font-semibold text-2xl px-6">
							Model Name
						</h1>
						<div
							class="flex flex-col px-6 pt-4 text-white font-semibold transition ease-in-out delay-150 tracking-wider">
							<p>
								<span class="text-primary">Height: </span>
								200cm
							</p>
							<p>
								<span class="text-primary">Shoe: </span>
								8
							</p>
							<p>
								<span class="text-primary">Waist: </span>
								32
							</p>
							<p>
								<span class="text-primary">Eye: </span>
								Brown
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="w-full">
			<a href="model.html">
				<div class="h-model sm:h-model md:h-model lg:h-model bg-no-repeat bg-cover bg-center flex items-end hover:transition bg-gray-500 lg:bg-none lg:hover:bg-gray-500 bg-blend-multiply"
					style="background-image: url({% static 'img/talent9.jpg' %})">

					<div class="flex flex-col justify-end py-8 h-full w-full">
						<h1 class="text-white font-semibold text-2xl px-6">
							Model Name
						</h1>
						<div
							class="flex flex-col px-6 pt-4 text-white font-semibold transition ease-in-out delay-150 tracking-wider">
							<p>
								<span class="text-primary">Height: </span>
								200cm
							</p>
							<p>
								<span class="text-primary">Shoe: </span>
								8
							</p>
							<p>
								<span class="text-primary">Waist: </span>
								32
							</p>
							<p>
								<span class="text-primary">Eye: </span>
								Brown
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="w-full">
			<a href="model.html">
				<div class="h-model sm:h-model md:h-model lg:h-model bg-no-repeat bg-cover bg-center flex items-end hover:transition bg-gray-500 lg:bg-none lg:hover:bg-gray-500 bg-blend-multiply"
					style="background-image: url({% static 'img/model4.jpg' %})">

					<div class="flex flex-col justify-end py-8 h-full w-full">
						<h1 class="text-white font-semibold text-2xl px-6">
							Model Name
						</h1>
						<div
							class="flex flex-col px-6 pt-4 text-white font-semibold transition ease-in-out delay-150 tracking-wider">
							<p>
								<span class="text-primary">Height: </span>
								200cm
							</p>
							<p>
								<span class="text-primary">Shoe: </span>
								8
							</p>
							<p>
								<span class="text-primary">Waist: </span>
								32
							</p>
							<p>
								<span class="text-primary">Eye: </span>
								Brown
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="w-full">
			<a href="model.html">
				<div class="h-model sm:h-model md:h-model lg:h-model bg-no-repeat bg-cover bg-center flex items-end hover:transition bg-gray-500 lg:bg-none lg:hover:bg-gray-500 bg-blend-multiply"
					style="background-image: url({% static 'img/model8.jpg' %})">

					<div class="flex flex-col justify-end py-8 h-full w-full">
						<h1 class="text-white font-semibold text-2xl px-6">
							Model Name
						</h1>
						<div
							class="flex flex-col px-6 pt-4 text-white font-semibold transition ease-in-out delay-150 tracking-wider">
							<p>
								<span class="text-primary">Height: </span>
								200cm
							</p>
							<p>
								<span class="text-primary">Shoe: </span>
								8
							</p>
							<p>
								<span class="text-primary">Waist: </span>
								32
							</p>
							<p>
								<span class="text-primary">Eye: </span>
								Brown
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="w-full">
			<a href="">
				<div class="h-model sm:h-model md:h-model lg:h-model bg-no-repeat bg-cover bg-center flex items-end hover:transition bg-gray-500 lg:bg-none lg:hover:bg-gray-500 bg-blend-multiply"
					style="background-image: url({% static 'img/model1.jpg' %})">

					<div class="flex flex-col justify-end py-8 h-full w-full">
						<h1 class="text-white font-semibold text-2xl px-6">
							Model Name
						</h1>
						<div
							class="flex flex-col px-6 pt-4 text-white font-semibold transition ease-in-out delay-150 tracking-wider">
							<p>
								<span class="text-primary">Height: </span>
								200cm
							</p>
							<p>
								<span class="text-primary">Shoe: </span>
								8
							</p>
							<p>
								<span class="text-primary">Waist: </span>
								32
							</p>
							<p>
								<span class="text-primary">Eye: </span>
								Brown
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

{% endblock %}