@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base{
    .text-primary{
        color: #09b11f;
    }
    .h-model{
        height: 600px/* 36px */;
    }
    @media (min-width: 1024px) {
        .lg\:h-model {
            height: 600px;
        }
    }
    @media (min-width: 768px) {
        .md\:h-model {
            height: 600px;
        }
    }
    @media (min-width: 600px) {
        .sm\:h-model {
            height: 800px;
        }
    }
    .h-1o5{
        height: 2.6rem
    }
    .bg-primary{
        background-color: #09b11f;
    }
    

}